<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdrxJS2haGDvwgV0FJNx40fi-2A60SyOU</string>
	<key>GCM_SENDER_ID</key>
	<string>391614747946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ToDoListApp.ios.project</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-3af5a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-3af5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391614747946:ios:869d5342689a87da5a3a53</string>
</dict>
</plist>